.about {
    &-photo {
        @include border-radius(4px);
        width: 80%;
        margin: 16px auto;
    }
    &-bio {
        white-space: pre-line;
    }
}

.music {
    &-artist {

    }
}

.current {
    &-icon {
        color: $red;
        margin-right: 4px;
    }
    &-box {
        margin: 16px auto;
        width: 160px;
    }
    &-thumb {
        overflow: hidden;
        position: relative;
        width: 160px;
        height: 160px;
        margin: auto;
        @include border-radius(4px);
        img {
            height: 100%;
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            @include transition(all 0.4s);
            @include grayscale();
            &:hover {
                @include grayscaleOff();
                @include transform(translateX(-50%) scale(1.05));
            }
        }
    }
    &-caption {
        text-align: center;
        padding: 8px;
        @include box-sizing(border-box);
        font-size: 18px;
    }
}