.about {
    &-photo {
        @include border-radius(4px);
        width: 80%;
        margin: 16px auto;
    }
    &-bio {
        white-space: pre-line;
    }
}

.music {
    &-artist {

    }
}

.current {
    &-icon {
        color: $red;
        margin: auto 4px;
    }
    &-box {
        margin: 16px auto;
    }
    &-thumb {
        overflow: hidden;
        position: relative;
        width: 160px;
        height: 160px;
        margin: auto;
        background-color: $red;
        @include border-radius(4px);
        img {
            height: 100%;
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            @include grayscale();
            @include transition(all 0.2s);
            &:hover {
                @include grayscaleOff();
            }
        }
    }
    &-caption {
        text-align: center;
        padding: 8px;
        @include box-sizing(border-box);
        font-size: 18px;
    }
}

.current {
    &-overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red-a60;
    }
    &-info {
        z-index: 3;
        text-align: center;
        background-color: transparent;
        top: 25%;
        &-heading {
            text-transform: uppercase;
            color: $white;
            display: none;
        }
        &-title, &-subtitle {
            text-transform: uppercase;
            color: $white;
        }
        &-title {
            font-size: 2em;
        }
        &-subtitle {
            display: none;
        }
    }
    &-banner {
        @include flex(row);
        position: relative;
        overflow: hidden;
        &:hover .current-item-thumb {
            @include transform(scale(1.1));
            @include transition(all 8s);
        }
    }
    &-item {
        display: inline-block;
        &-thumb {
            @include transition(all 8s);
            @include transform(scale(1.0));
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

@media screen and (min-width: 568px) {
.current {
    &-anime {
        &-info {
            &-heading {
                display: block;
                font-size: 16px;
            }
            &-title {
                font-size: 36px;
            }
            &-subtitle {
                display: block;
                font-size: 24px;
            }
        }
    }
}
}