.about {
    &-photo {
        @include border-radius(4px);
        width: 80%;
        margin: 16px auto;
    }
    &-bio {
        white-space: pre-line;
    }
}

.current {
    &-anime {
        &-overlay {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $red-a60;
        }
        &-info {
            z-index: 3;
            text-align: center;
            background-color: transparent;
            top: 25%;
            &-heading {
                text-transform: uppercase;
                color: $white;
                display: none;
            }
            &-title, &-subtitle {
                text-transform: uppercase;
                color: $white;
            }
            &-title {
                font-size: 2em;
            }
            &-subtitle {
                display: none;
            }
        }
        &-banner {
            @include flex(row);
            position: relative;
        }
        &-item {
            display: inline-block;
            &-thumb {
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 568px) {
.current {
    &-anime {
        &-info {
            &-heading {
                display: block;
                font-size: 16px;
            }
            &-title {
                font-size: 36px;
            }
            &-subtitle {
                display: block;
                font-size: 24px;
            }
        }
    }
}
}