.view {
	&.ng-enter {
		width: 0%;
	}
	&.ng-enter.ng-enter-active {
		width: 100%;
	}
}
.blog {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: -55px;
	right: 0;
	&-header {
		background: #222;
		border-bottom: 4px solid #c00;
		height: 120px;
		line-height: 40px;
	}
	&-content {
		background: white;
		text-align: center;
	}
}

.spinner {
	margin: 4em auto;
    position: absolute;
    width: 100%;
	
	span {
		font-size: 4em;
		
		@include animation(animate-spinner 800ms linear infinite);
	}
}

@-webkit-keyframes animate-spinner {
	0%   { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}
@-moz-keyframes animate-spinner {
	0%   { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}
@-o-keyframes animate-spinner {
	0%   { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}
@-ms-keyframes animate-spinner {
	0%   { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}
@keyframes animate-spinner {
	0%   { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}