.resume {
    &-entry {
        @include flex(column);
    }
    &-heading {
        @include flex-order(0);
        margin-top: 0;
        span { font-size: 14px; }
    }
    &-subheading {
        @include flex-order(1);
    }
    &-date {
        @include flex-order(2);
        position: relative;
    }
    &-info {
        @include flex-order(3);
    }
    &-skill {
        &:not(:last-child):after { content: ', ' };
    }
}
    
/* sm */
@media screen and (min-width: 568px) {
}

/* md */
@media screen and (min-width: 768px) {

    .resume {
        &-entry {
            display: block;
        }
        &-date {
            position: relative;
            span {
                position: absolute;
                right: 0;
                top: 0;
                margin: 1em 0;
            }
        }
    }
}