/* Work */
.filter {
    z-index: 4;
    position: relative;
    padding: 0px 16px 8px;
    margin: 16px 0;
    
    .checkbox, .radio {
        margin-top: 16px;
        margin-bottom: 12px;
    }
}