.lightbox {

    div {
        @include transition-duration(0.4s);
        @include transition-timing-function(ease);
        @include transition-property(opacity margin);

        &.ng-enter,
        &.ng-leave.ng-leave-active {
            opacity: 0;
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            opacity: 1;
        }
    }

    &-overlay {
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;
    }

    &-content {
        text-align: center;
        position: relative;
        height: 100%;
        width: 100%;
    }

    &-modal {
        position: fixed;
        left: 4%;
        right: 4%;
        top: 12.5%;
        margin-top: 0px;
        z-index: 999;
        @include box-shadow(1px 1px 4px 0px $gray-a40);

        &.ng-enter,
        &.ng-leave.ng-leave-active {
            opacity: 0;
            margin-top: -64px;
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            opacity: 1;
            margin-top: 0px;
        }

        img {
            border: 8px solid $white;
            @include box-sizing(border-box);
            width: 100%;
            height: auto;
        }
    }

    &-modal-portrait {
        top: 4%;

        img {
            /*height: 100%;*/
            /*width: auto;*/
        }
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px;
        padding: 8px;
        line-height: 16px;
        background-color: $white;
        @include border-radius(0 0 0 4px);

        &:hover span {
            color: $gray-light;
        }

        span {
            color: $gray;
            font-size: 16px;
        }

    }
}

@media screen and (min-width: 768px) {

.lightbox {
    &-modal {
        left: 18%;
        right: 18%;
        top: 25%;

        &-portrait {
            top: 4%;
        }
    }
}

}