var nodemailer = require('nodemailer');
var smtpTransport = require('nodemailer-smtp-transport');

var transporter = nodemailer.createTransport(smtpTransport({
    service: 'gmail',
    auth: {
        user: '{USER}',
        pass: '{PASS}'
    }
}));

module.exports.sendEmail = function(req, res) {
  console.log('/contact')
    var data = req.body.form;
    var mailOptions = {
      from: data.name + ' <' + data.email + '>',
      sender: data.email,
      to: "{RECIPIENT-EMAIL}",
      cc: data.email,
      subject: "Mail sent to {RECIPIENT-EMAIL}: " + data.subject,
      generateTextFromHTML: true,
      html: "<p>Your message has been sent to {RECIPIENT-EMAIL}. Here is what you put into the contact form:</p><br/><blockquote>" + data.message + "</blockquote><br/><p>Thank you for viewing my portfolio! Please look out for my response soon.</p><br/><p>{NAME}<br/><a href='{SITE-LINK}' alt='{SITE-NAME}'>{SITE-NAME}</a></p>"
    };

    transporter.sendMail(mailOptions, function(error, response) {
      if (error) {
        console.log(error);
        res.send('error')
      } else {
        console.log(response);
        res.send('success')
      }
      transporter.close();
    })
}
