.day {

    /* header */

    &.custom-menu-wrapper {
        background-color: $white;
        /*border-bottom: 1px solid $gray-light;*/
    }

    .custom-menu .pure-menu-link,
    .custom-menu .pure-menu-heading {
        color: $black-a80;
        border-bottom: 2px solid transparent;
    }

    .custom-menu .pure-menu-link:hover,
    .custom-menu .pure-menu-heading:hover {
        background-color: transparent;
        color: $black;
        border-bottom: 2px solid transparent;
    }

    .custom-menu .pure-menu-link:focus,
    .custom-menu .pure-menu-heading:focus {
        background-color: transparent;
        border-bottom: 2px solid $blue;
    }

    .custom-menu .pure-menu-heading.custom-menu-brand:focus {
        border-bottom: 2px solid transparent;
    }

    .custom-menu-toggle .bar {
        background-color: $gray;
    }

    .custom-menu-screen {
        background-color: $white;
        border-bottom: 1px solid $gray-light;
    }

    .custom-menu-tucked .custom-menu-screen {
        border-bottom: 1px solid $gray;
    }


    /* footer */

    &.footer {
        background-color: $white;
        color: $black-a80;
        a { color: $black; }        
    }


    /* container */

    &.container {
        color: $black-a60;
        > a { color: $black; }
        .view section { background-color: $white-a80; }
    }

}