body.night {
    background-color: $black;
    color: $white-a80;
}

.night {

    h1, h2, h3, h4 {    
        color: $white;
    }

    a {
        color: $white;
    }

    ul li span {
        color: $white-a80;
    }

    &.logo {
        background-position-y: 100%;
    }

    /* header */

    .header {
        &-bar {
            background-color: $black;
            border-bottom: 1px solid $gray-dark;
        }
        &-toggle {
            color: $white;
            &:active, &:focus, &-active { color: $red; }
        }
        &-menu {
            background-color: $black;
            border-left: 1px solid $gray-dark;
            border-bottom: 1px solid $gray-dark;
        }
    }
    .navigation {
        &-item {
            background-color: transparent;
            /*&:hover { background-color: $white-a10; }*/
        }
        &-link {
            color: $white-a80;
            &:before {
                background-color: $gray-dark;
            }
        }
        .footnote {
            color: $white-a80;
        }
    }

    .social {
        &-link {
            color: $white-a80;
            &:hover { color: $red; }        
        }
    }


    /* footer */

    &.footer {
        background-color: $black;
        
        a {
            color: $white-a80;
            &:hover { color: $white; }        
        }
        .tag {
            background-color: $white-a10;
        }
    }


    /* container */

    &.container {
        color: $white-a80;
        > a { color: $white; }
        .view section {
            background-color: $black-a80;
        }
    }

    &.filter {
        background-color: $black-a80;
    }

    &.work-block {

        .work-thumbnail {
            border: none;
            img, svg {
                background-color: $black;
            }
            &-nothumb {
                path { fill: $red; }
            }
        }
        .work-info {
            border: none;
            background-color: $black-a80;
        }
        .work-tag {
            background-color: $white-a10;
        }
        .work-actions {
            background-color: $black;
            /*border-top: 1px solid $white-a20;*/
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        .work-action {
            &:not(:first-child) {
                border-left: 1px solid $white-a20;
            }
            &-link {
                span {
                    color: $white-a80;
                }
                &:hover {
                    background-color: $white-a20;
                }
                &-disabled {
                    background-color: transparent;
                    span {
                        color: $white-a20;
                    }
            
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.resume-skill-heading.night { color: $white; }

@media screen and (min-width: 568px) {

.night {
    &.work-block {
        .work-info {
            border: none;
            background-color: none;
        }
    }
}

}