/* Colours */
$gray-dark: #666666;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #eeeeee;
$gray-a40: rgba(153,153,153,0.4);
$white: #ffffff;
$white-a40: rgba(255,255,255,0.4);
$white-a60: rgba(255,255,255,0.6);
$white-a90: rgba(255,255,255,0.9);
$black: #000000;
$black-a60: rgba(0,0,0,0.6);
$black-a80: rgba(0,0,0,0.8);
$red: #b81413;

/*
.color1 { color: #ffffff}
.color2 { color: #fbf9fe}
.color3 { color: #640b0d}
.color4 { color: #4a433d}
.color5 { color: #463b3f}
.color6 { color: #767280}
.color7 { color: #776d64}
.color8 { color: #642b22}
.color9 { color: #281c26}
.color10 { color: #fcffff}
.color11 { color: #3a252a}
.color12 { color: #090408}
.color13 { color: #bab9be}
.color14 { color: #fffefc}
.color15 { color: #b81413}
.color16 { color: #e7ecf2}
.color17 { color: #dde0e7}
.color18 { color: #fffeff}
.color19 { color: #c8cbd4}
.color20 { color: #bcbcc4}
.color21 { color: #140814}
.color22 { color: #fcfbff}
.color23 { color: #f5fafe}
.color24 { color: #c9ccd3}
.color25 { color: #b1b1b9}
*/