.container {
    min-height: 768px;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
    > a {
        text-decoration: none;
        color: $gray;
    }

    .content {
        width: 80%;
        max-width: 768px;
        margin: auto;
        position: relative;

        .view {
            position: absolute;
            width: 100%;
            height: 100%;
            @include transition-duration(0.8s);
            @include transition-timing-function(ease);

            &.ng-enter,
            &.ng-leave.ng-leave-active {
                left: -10%;
                opacity:0;
            }

            &.ng-enter.ng-enter-active,
            &.ng-leave {
                left: 0%;
                opacity:1;
            }

            section {
                background-color: $white-a40;
                box-shadow: 0 0 16px $white;
                padding: 24px;
                margin: 24px 0;
            }
        }
    }
}

/* Work */
.filter {
}

.work {
    height: 120px;
    padding: 24px;
    margin: 24px 0;
    position: relative;
    @include transition-duration(0.8s);

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
        height: 0;
        margin-top: -18px;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        height: 120px;
        margin-top: 0px;
    }    

    &.ng-enter-stagger, &.ng-leave-stagger {
        @include transition-delay(0.8s);
        @include transition-duration(0s);
    }

    h3 {
        margin: 0 0 16px;
    }

    &-description {
    }

    &-actions {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 16px;
    }

    &-action {
        display: inline-block;
        background-color: $white;
        width: 2em;
        height: 2em;
        margin-left: 8px;
        @include box-shadow(1px, 1px, 0px, 0px, $gray);
        @include border-radius(4px);

        span {
            position: relative;
            top: 25%;
            left: 25%;
        } 
    }
}