.header {
    ul {
        padding: 0;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid $gray-light;

        li {
            display: inline-block;
            padding: 4px;
        }
    }
}