/* Style */
@import 'font';
@import 'colours';
@import 'mixin';
@import 'header';
@import 'container';
@import 'footer';

html, body {
    font-family: Quicksand, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: $gray;   
    @include transition-duration(0.2s);

    &:hover {
        color: $gray-light;
    }
}