.footer {
    ul {
        width: 80%;
        max-width: 768px;
        padding: 0;
        margin: auto;
        
        li {
            list-style-type: none;
            padding: 4px;
        }
    }
}