.footer {
    z-index: 5;
    width: 100%;
    min-height: 48px;
    padding: 8px;
    bottom: 0;
    box-sizing: border-box;
    @include transition-duration(300ms);

    .social {
        text-align: center;
        margin: auto;
        margin-bottom: 16px;

        a {
            font-size: 24px;
            width: 24px;
            height: 24px;
            display: inline-block;
            padding: 8px;
        }
    }

    .theysaidso {
        text-align: center;
        margin: auto;
    }
}

@media screen and (min-width: 568px) {

.footer {

    .social {
        text-align: left;
        margin-bottom: 0;
    }

    .theysaidso {
        text-align: right;
        margin-right: 0;
    }

}

}