.work {
    max-width: 22em;
    max-height: 28em;
    position: relative;
    margin: 0 auto 16px auto;
    list-style: none;

    @include transition-duration(0.8s);
    @include transition-timing-function(ease);
    @include transition-property(all);

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
        bottom: 0;
        max-height: 28em;
        @include transform(scale(1,1));
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
        bottom: -28em;
        max-height: 0em;
        @include transform(scale(1,0));
    }    
    
    &-block {
        position: relative;
    }

    &-thumbnail {
        @include border-radius(4px 4px 0 0);
        border-top: 1px solid $gray;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        box-sizing: border-box;

        img, svg {
            @include border-radius(inherit);
            cursor: pointer;
            width: 100%;
            background-color: $white;
            @include transition-duration(0.2s);            
        }
        &-nothumb {
            height: 100%;
            padding: 16%;
            box-sizing: border-box;
            path { fill: $gray-light; }
        }
    }

    &-info {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid $gray;
        box-sizing: border-box;
        padding: 16px;
        background-color: $white-a90;
        @include border-radius(4px 4px 0 0);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease);
        @include transition-property(all);

        &.ng-hide-remove,
        &.ng-hide-add.ng-hide-add-active {
            opacity: 0;
        }

        &.ng-hide-add,
        &.ng-hide-remove.ng-hide-remove-active {
            opacity: 1;
        }
    }

    &-title {
        margin: 0 0 16px;
    }

    &-description {
        min-height: 40px;
    }

    &-actions {
        z-index: 2;
        position: relative;
        margin-top: -4px;
        width: 100%;
        text-align: center;
        background-color: $white;
        @include border-radius(0 0 4px 4px);
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        box-sizing: border-box;
    }

    &-action {
        box-sizing: border-box;
        height: 2.8em;

        &:first-child:not(:last-child) {
            @include border-radius(4px 0 0 4px);
        }

        &:last-child:not(:first-child) {
            @include border-radius(0 4px 4px 0);
        }

        &:not(:first-child) {
            border-left: 1px solid $gray-light;
        }

        &-link {
            display: block;
            padding: 0;
            width: 100%;
            height: 100%;
            @include border-radius(inherit);

            &-disabled {
                background-color: $gray-lighter;
                span {
                    color: $gray-light;
                }
            }
        }        

        &:hover {
            background-color: $gray-lighter;
        }

        span { 
            font-size: 1.5em;
            line-height: 2em;
        }
    }
}

/* sm */
@media screen and (min-width: 568px) {
    .work {
        max-width: none;
        max-height: none;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 8px;
        box-sizing: border-box;

        &.ng-enter-stagger, &.ng-leave-stagger {
            @include transition-delay(0.4s);
            @include transition-duration(0s);
        }

        &-block {
            width: 100%;
        }

        &-thumbnail {
            display: inline-block;
            position: relative;
            width: 25%;

            img, svg {
                border: none;
            }
            &-nothumb {
                padding: 16px;
            }
        }

        &-info {
            display: inline-block;
            position: relative;
            width: 75%;
            max-height: 11em;
            background: none;
            vertical-align: top;
            border: none;

            &.ng-hide {
                display: inline-block!important;
            }
        }

        &-actions {
            width: 25%;
        }

        &-action {
            height: 32px;

            &-link {
                span {
                    font-size: 16px;
                    line-height: 32px;
                }
            }
        }
    }
}