<section data-ng-controller="AboutCtrl as ctrl">
    <h2>About</h2>
    <article>
        <div class="pure-g">
            <div data-ng-if="ctrl.photo" class="pure-u-1 pure-u-sm-1-2">
                <img ng-src="{{ctrl.photo}}" class="pure-img about-photo"/>
            </div><!--
         --><div class="pure-u-1 pure-u-sm-1-2" data-ng-if="ctrl.bio">
                <p class="about-bio">{{ctrl.bio}}</p>
            </div>
            <div class="pure-u-1" data-ng-if="ctrl.music">
                <h2>Music</h2>
                <ul>
                    <li data-ng-repeat="artist in ctrl.music"><a ng-href="{{artist.data.uri}}">{{artist.name}}</li>
                </ul>
            </div>
            <div class="pure-u-1" data-ng-if="ctrl.current">
                <div class="current-anime" data-ng-if="ctrl.current.anime">
                    <h2>Animé</h2>
                    <a ng-href="{{ctrl.current.anime.url}}">
                    <div class="current-anime-banner">
                        <div class="current-anime-overlay">
                        </div>
                        <div class="current-anime-overlay current-anime-info">
                            <!-- <div class="current-anime-info-heading">Current</div> -->
                            <div class="current-anime-info-title title">{{ctrl.current.anime.title}}</div>
                            <div class="current-anime-info-subtitle subtitle">{{ctrl.current.anime.subtitle}}</div>
                        </div>
                        <div data-ng-repeat="anime in ctrl.current.anime.data" class="current-anime-item">
                            <div class="current-anime-item-thumb"><img ng-src="{{anime.cover_image}}"/></div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>