<section data-ng-controller="AboutCtrl as ctrl">
    <h2>About</h2>
    <article>
        <div class="pure-g">
            <div data-ng-if="ctrl.photo" class="pure-u-1 pure-u-sm-1-2">
                <img ng-src="{{ctrl.photo}}" class="pure-img about-photo"/>
            </div><!--
         --><div class="pure-u-1 pure-u-sm-1-2" data-ng-if="ctrl.bio">
                <p class="about-bio">{{ctrl.bio}}</p>
            </div>
            <div class="pure-u-1" data-ng-if="ctrl.music">
                <h2>Music</h2>
                <ul>
                    <li data-ng-repeat="artist in ctrl.music"><a ng-href="{{artist.data.uri}}">{{artist.name}}</li>
                </ul>
            </div>
            <div class="pure-u-1" data-ng-if="ctrl.current">
                <current-anime anime="ctrl.current.anime"></current-anime>
            </div>
        </div>
    </article>
</section>