<section data-ng-controller="AboutCtrl as ctrl">
    <h2>About</h2>
    <article>
        <div class="pure-g">
            <div data-ng-if="ctrl.about.photo" class="pure-u-1 pure-u-sm-1-3">
                <img ng-src="{{ctrl.about.photo}}" class="pure-img about-photo"/>
            </div><!--
         --><div class="pure-u-1 pure-u-sm-2-3" data-ng-if="ctrl.about.bio">
                <p class="about-bio">{{ctrl.about.bio}}</p>
            </div>
            <div class="pure-u-1 about-links" data-ng-if="ctrl.about.links">
                <div class="current-box" data-ng-repeat="item in ctrl.about.links">
                    <a ng-href="{{item.url}}" alt="{{item.name}}" title="{{item.name}}" target="_blank">
                        <div class="current-caption"><span class="icon-{{item.icon}} current-icon"></span>&nbsp;<span>{{item.name}}</span></div>
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
