<section data-ng-controller="WorkCtrl as ctrl">
    <h3>Work</h3>

        <div class="filter">
            <p>Filter</p>
            <label ng-repeat="filter in ctrl.filters">
                <input type="checkbox" data-ng-click="ctrl.toggleFilter(filter)" checked/>
                {{filter}}
            </label>
        </div>

        <article class="work" data-ng-repeat="work in ctrl.works | filter:ctrl.isActive">
                <h3>{{work.title}}</h3>
                <p>{{work.description}}</p>
                <p>
                    <a ng-if="work.url.live" data-ng-href="{{work.url.live}}">Live</a> | 
                    <a ng-if="work.url.git" data-ng-href="{{work.url.git}}">GitHub</a>
                </p>
        </article>
</section>
